/* Root pane background with a gradient and rounded corners on one side */
.rootColour{
    -fx-background-color: linear-gradient( to right top,#40c9ff, #e81cff);
    -fx-background-radius: 0 100px 100px 0px;
}

/* Main AnchorPane with a gradient background */
.mainAncorPane{
    -fx-background-color: linear-gradient( to right top,#696eff, #f8acff);
}

/* Transparent background for the DatePicker */
.datepicker {
    -fx-background-color: transparent;
}

/* Adding a light border to calendar cells inside the DatePicker */
.datepicker > .date-picker-calendar > .calendar-grid > .calendar-cell {
    -fx-border-color: lightgray; /* Add a light border for cell outlines */
}

/* Overlay effect with a semi-transparent purple background and rounded corners */
.overlay {
    -fx-background-color: rgba(220, 0, 253, 0.25);
    -fx-background-radius: 50px 50px 50px 50px;
}

/* Button styling with a gradient background */
.button1{
    -fx-background-color: linear-gradient( to right top,#5ab2f7, #12cff3);
}

/* TextField prompt text color set to black */
.text-field1{
    -fx-prompt-text-fill: black;
}
